body {
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-device-width: 800px) {

  body {
    background-color: whitesmoke;
  }
}
